!!!5
%head
  :sass
    body
      background: rgba(0, 40, 255, 0.2)
      color: white
      font-family: Helvetica, Arial
      margin: auto
      width: 500px
      border-left: 1px solid rgba(0, 40, 255, 0.4)
      border-right: 1px solid rgba(0, 40, 255, 0.4)
      padding: 10px 100px
      min-height: 100%

    footer
      font-size: 0.8em
      margin-top: 30px
      padding-top: 10px
      text-align: right
      border-top: 1px solid rgba(0, 40, 255, 0.1)

    html
      height: 100%

%body
  %h1= "{$title}"
  = yield
  %footer
    brought to you with love by @zog